.parent {
    background-color: #1e2529;
    -fx-background-color: #1e2529;
    -fx-background-radius: 0px;
}
.sidebar {
    background-color: #1e2529;
    -fx-background-color: #1e2529;
    -fx-background-radius: 0px;
}

.input-text {
    background-color: #171d20;
    -fx-background-color: #171d20;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bce4f9;
}

.output-text {
    background-color: #171d20;
    -fx-background-color: #171d20;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bce4f9;
}

.bottom-bar {
    background-color: #171d20;
    -fx-background-color: #171d20;
    -fx-background-radius: 5px;
}

.button-default {
    background-color: #2a3439;
    -fx-background-color: #2a3439;
    -fx-background-radius: 10px;
    -fx-text-fill: #bce4f9;
}