.parent {
    background-color: #1e2529;
    -fx-background-color: #1e2529;
    -fx-background-radius: 0px;
}
.sidebar {
    background-color: #1e2529;
    -fx-background-color: #1e2529;
    -fx-background-radius: 0px;
}

.input-text {
    background-color: #171d20;
    -fx-background-color: #171d20;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
    -fx-padding: 8px;
    -fx-text-fill: #bce4f9;
}

.output-text {
    background-color: #171d20;
    -fx-background-color: #171d20;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
    -fx-text-fill: #bce4f9;
}

.bottom-bar {
    background-color: #171d20;
    -fx-background-color: #171d20;
    -fx-background-radius: 5px;
}

.button-default {
    background-color: #2a3439;
    -fx-background-color: #2a3439;
    -fx-background-radius: 10px;
    -fx-text-fill: #bce4f9;
}

.trans {
    background: transparent;
    background-color: transparent;
    -fx-background: transparent; 
    -fx-background-color: transparent;   
    -fx-background-insets: 0px;  
    -fx-text-fill: #bce4f9;
}

.list-cell {
    -fx-background-color: #171d20;
    -fx-background-radius: 3px;
    -fx-text-fill: #bce4f9;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI Regular";
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: #2a3439;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}